.animation{
    position: relative;
    min-height: 100vh;
    background: url(ANIMATION/vc.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    overflow-x: hidden;
}

.animated-car {width: 270px; height: 127px;
    background-image: url(ANIMATION/car.png);
    animation: gangham 4s steps(23,start),
    movearound 20s steps(2000,end) infinite alternate 44ms;
    animation-direction: normal;
    align-self: flex-end;
    overflow-x: hidden;
  }

  @keyframes movearound {
    0% {transform: translatex(0)}
    100% {transform: translatex(3480px);}
  }

 
  
  
  
  
